.flex {
  display: flex;
}

.fd-col {
  flex-direction: column;
}

.fd-row {
  flex-direction: row;
}

.flex-aic {
  align-items: center;
}

.flex-jcc {
  justify-content: center;
}

.df-aic-jcc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-jcsb {
  justify-content: space-between;
}

.flex-jcsa {
  justify-content: space-around;
}

.cp {
  cursor: pointer;
}

/* ---colours */
/* ---font-weight */
/* ---gradients */
.Hero__section__outer {
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 88px 20px 40px 20px;
}
.Hero__section__outer .section__inner {
  width: 100%;
  height: 100%;
  padding: 20px 10px;
  display: flex;
  flex-direction: row;
}
.Hero__section__outer .content__area {
  padding: 0px 20px;
  padding-top: 20px;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.Hero__section__outer .content__area .heading {
  color: white;
  margin-bottom: 14px;
  font-weight: 800;
  font-size: clamp(46px, 6vw, 97px);
  font-family: "Quicksand", sans-serif;
  text-transform: uppercase;
}
.Hero__section__outer .content__area .heading span {
  font-size: clamp(26px, 6vw, 54px);
  color: #6B737C;
  text-transform: capitalize;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  display: flex;
}
.Hero__section__outer .content__area .type__txt {
  font-family: "Montserrat", sans-serif;
  position: relative;
  margin-bottom: 44px;
  font-weight: 400;
  font-size: clamp(18px, 4vw, 20px);
}
.Hero__section__outer .content__area .type__txt .type_txt__before {
  top: 50%;
  left: -105%;
  width: 100%;
  height: 30%;
  position: absolute;
  background-color: #193DBD;
  transform: translateY(-50%);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.Hero__section__outer .content__area .subhedding {
  font-weight: 300;
  line-break: normal;
  max-width: 470px;
  color: #919497;
}
.Hero__section__outer .img__area {
  display: none;
  padding: 80px;
  width: 50%;
  height: 100%;
  position: relative;
}
.Hero__section__outer .img__area img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media only screen and (max-width: 320px) {
  .Hero__section__outer {
    padding: 0px;
  }
}
@media only screen and (max-width: 425px) {
  .Hero__section__outer {
    padding: 0px;
  }
}
@media only screen and (max-width: 768px) {
  .Hero__section__outer {
    padding: 90px 10px 0px 10px;
  }
  .Hero__section__outer .section__inner {
    flex-direction: column;
    padding: 0px;
  }
  .Hero__section__outer .section__inner .content__area {
    padding: 0px 14px;
    padding-top: 20px;
  }
  .Hero__section__outer .section__inner .content__area .onopage__newsapper__select__box {
    width: 100%;
  }
  .Hero__section__outer .section__inner .content__area .subhedding {
    text-justify: newspaper;
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */