.flex {
  display: flex;
}

.fd-col {
  flex-direction: column;
}

.fd-row {
  flex-direction: row;
}

.flex-aic {
  align-items: center;
}

.flex-jcc {
  justify-content: center;
}

.df-aic-jcc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-jcsb {
  justify-content: space-between;
}

.flex-jcsa {
  justify-content: space-around;
}

.cp {
  cursor: pointer;
}

/* ---colours */
/* ---font-weight */
/* ---gradients */
.Hero__section__third {
  padding: 100px 80px 100px 80px;
  color: white;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: auto;
  gap: 44px;
  row-gap: 44px;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, rgb(6, 4, 34), rgb(7, 7, 14)) !important;
}
.Hero__section__third .contect__section {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  position: relative !important;
}
.Hero__section__third .contect__section .snake__line {
  width: 100%;
  height: auto;
  transform: translateX(-120px);
  display: none;
}
.Hero__section__third .contect__section button {
  margin-top: 50px;
  background-color: #4EC1CE;
  border: 1px solid #4EC1CE;
  color: #0d1117;
  font-weight: 600;
  font-size: 1.025rem;
  padding: 16px 32px;
  align-self: flex-start;
  border-radius: 4px;
  cursor: pointer;
  transition: all 220ms ease-in-out;
}
.Hero__section__third .contect__section button:hover {
  border: 1px solid #4EC1CE;
  background-color: transparent;
  color: white;
}
.Hero__section__third .contect__section h2 {
  font-weight: 700;
  font-size: clamp(24px, 4vw, 58px);
  position: relative;
  padding-left: 20px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}
.Hero__section__third .contect__section h2::before {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 5px;
  background-color: #4EC1CE;
  width: 4px;
  height: 90%;
}
.Hero__section__third .contect__section p {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.808);
  line-height: 1.95rem;
  font-size: clamp(12px, 4vw, 16px);
  max-width: 448px;
  margin-top: 36px;
}
.Hero__section__third .contect__section p span {
  font-weight: 600;
  color: white;
}
.Hero__section__third .img__section {
  width: 120%;
  height: 100%;
  max-height: 400px;
  position: relative !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.0509803922);
  --webkit-backdrop-filter: blur(20px);
  border: 1px solid rgb(30, 39, 54);
  color: white;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.Hero__section__third .img__section img {
  width: 100%;
  height: 110%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media only screen and (max-width: 780px) {
  .Hero__section__third {
    padding: 60px 30px 30px 30px;
  }
  .Hero__section__third .contect__section {
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    position: relative !important;
  }
  .Hero__section__third .contect__section .snake__line {
    width: 100%;
    height: auto;
    transform: translateX(-40px);
  }
  .Hero__section__third .contect__section p {
    line-height: 1.45rem;
    overflow: scroll;
  }
}/*# sourceMappingURL=style.css.map */