.flex {
  display: flex;
}

.fd-col {
  flex-direction: column;
}

.fd-row {
  flex-direction: row;
}

.flex-aic {
  align-items: center;
}

.flex-jcc {
  justify-content: center;
}

.df-aic-jcc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-jcsb {
  justify-content: space-between;
}

.flex-jcsa {
  justify-content: space-around;
}

.cp {
  cursor: pointer;
}

/* ---colours */
/* ---font-weight */
/* ---gradients */
.Home__page__outer {
  width: 100%;
  height: 100vh;
  position: relative !important;
  background-size: 54%;
  background-image: url("../../assets/img/bgimg2.svg");
  background-position: bottom right;
  background-position-y: initial;
  background-repeat: no-repeat;
  overflow: hidden;
  overflow-x: hidden;
}
.Home__page__outer .gradiend {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: linear-gradient(160deg, rgba(64, 58, 151, 0.3215686275), rgba(17, 20, 43, 0.3490196078), rgba(17, 20, 43, 0.3490196078), rgba(17, 20, 43, 0.3490196078), rgba(13, 17, 23, 0.2823529412));
}
.Home__page__outer .content__section {
  z-index: 200;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 120px;
  padding-left: 70px;
  background-color: transparent;
}
.Home__page__outer .content__section .heading {
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  font-size: clamp(32px, 10vw, 86px);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  color: white;
}
.Home__page__outer .content__section .heading .wrap {
  color: rgb(201, 209, 217);
  margin-top: 8px;
  font-weight: 300;
  font-size: clamp(24px, 4vw, 32px);
  margin-bottom: 50px;
}
.Home__page__outer .content__section .heading span {
  font-weight: 300;
  font-size: clamp(32px, 10vw, 76px);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}
.Home__page__outer .content__section .sub__heading {
  font-size: clamp(14px, 4vw, 18px);
  line-height: 32px;
  font-weight: 400;
  margin-bottom: 24px;
  color: rgb(139, 148, 158);
  text-align: left;
  text-justify: newspaper;
}
.Home__page__outer .content__section .sub__heading span {
  font-weight: 600;
  color: white;
}
.Home__page__outer .content__section .btn__primery {
  margin: 0;
  box-shadow: #bc8cff 0 0 0 1px inset;
  border: 1px solid #7b55c7;
  text-transform: capitalize;
  color: white;
  background-color: transparent;
  align-self: flex-start;
  font-weight: 600;
  font-size: clamp(14px, 4vw, 16px);
  padding: 1rem 2.8rem 1rem 1rem;
  border-radius: 4px;
  transition: all 220ms ease-in-out;
  cursor: pointer;
  position: relative;
}
.Home__page__outer .content__section .btn__primery .rarr_svg {
  position: absolute;
  height: auto;
  margin-left: 8px;
  width: 100%;
  max-width: 28px;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 220ms ease-in-out;
}
.Home__page__outer .content__section .btn__primery:hover {
  box-shadow: #ffffff 0 0 0 1px inset;
  border: 1px solid rgb(255, 255, 255);
  padding: 1rem 3.8rem 1rem 1rem;
}
.Home__page__outer .content__section .btn__primery:hover .rarr_svg {
  right: 8px;
}

@media only screen and (max-width: 780px) {
  .Home__page__outer {
    height: 100vh;
    flex-direction: column;
    padding-top: 0px;
    padding-bottom: 0px;
    background-position: bottom;
    background-image: linear-gradient(to bottom, #000000, rgba(13, 17, 23, 0.0941176471), #0d1117), url("../../assets/img/bg.jpg");
    background-size: cover;
  }
  .Home__page__outer .content__section {
    padding-top: 140px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: transparent;
  }
  .Home__page__outer .content__section .btn__primery {
    border-radius: 0px;
  }
}/*# sourceMappingURL=home.css.map */