/* ---colours */
$website-body-clr : #E4E4E4;
$clr-black-dark : #000000;
$clr-black-dark-hover : #0000009d;
$clr-white-dark : #FFFFFF;
$clr-purple : #211C4C;
$clr-grey-light : #B9B3B3;
$clr-grey-dark  : #AAA3A3;
$side-line-clr : #4CE589;
$clr-blue-dark : #1F188D;
$clr-blue-dark-hover : #20188dd5;
$clr-wheat : #F5F5F5;



/* ---font-weight */
$font-300 : 300;
$font-400 : 400;
$font-500 : 500;
$font-600 : 600;
$font-700 : 700;
$font-800 : 800;



/* ---gradients */
$bg-gradient : linear-gradient(0deg, rgba(0, 0, 0, 0.51), rgba(0, 0, 0, 0.51)), radial-gradient(100.27% 214.85% at 3.04% 100%, #33885A 1.37%, rgba(1, 20, 193, 0.78) 100%);
$ff-primery : 'Poppins', sans-serif;
$ff-second :'Montserrat', sans-serif;
$ff-roboto : 'Quicksand', sans-serif;
@use './_globals'