.app__main {
	// background-color: #060811;
	background: linear-gradient(to bottom,rgb(6, 4, 34),rgb(7, 7, 14));
	width: 100%;
	max-width: 1420px;
	margin: auto;
	height: 100%;
	overflow: hidden;
	color: white;
	overflow-x: hidden;
}