

.app__main{
	background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.979), rgba(41, 37, 37, 0.404)), url('../assets/img/bg.jpg');
	width: 100%;
	max-width: 1420px;
    margin: auto;
	height:100%;
}