.app__main {
  background-color: linear-gradient(to bottom, rgb(6, 4, 34), rgb(7, 7, 14));
  max-width: 1420px;
  margin: auto;
  height: 100%;
  overflow: hidden;
  color: white;
  overflow-x: hidden;
}