.flex {
  display: flex;
}

.fd-col {
  flex-direction: column;
}

.fd-row {
  flex-direction: row;
}

.flex-aic {
  align-items: center;
}

.flex-jcc {
  justify-content: center;
}

.df-aic-jcc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-jcsb {
  justify-content: space-between;
}

.flex-jcsa {
  justify-content: space-around;
}

.cp {
  cursor: pointer;
}

/* ---colours */
/* ---font-weight */
/* ---gradients */
.home__page__second__section {
  width: 100%;
  height: 100%;
  padding: 100px 110px 60px 80px;
  position: relative;
  color: white;
}
.home__page__second__section .section__heading {
  position: relative;
}
.home__page__second__section .section__heading::before {
  position: absolute;
  content: "";
  left: -12px;
  top: 0;
  width: 4px;
  border-radius: 4px;
  height: 100%;
  background-color: #4EC1CE;
}
.home__page__second__section h2 {
  font-style: normal;
  text-transform: capitalize;
  font-size: clamp(18px, 4vw, 24px);
  font-weight: 700;
  margin-left: 8px;
}
.home__page__second__section p {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.808);
  font-size: clamp(14px, 3vw, 16px);
  margin-top: 8px;
  margin-left: 8px;
}
.home__page__second__section .grid__items {
  width: 100%;
  margin: 60px auto auto auto;
  display: grid;
  row-gap: 30px;
  -moz-column-gap: 20px;
       column-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}
.home__page__second__section .grid__items .grid__item {
  padding: 12px 16px;
  border-radius: 2px;
  cursor: pointer;
  width: 100%;
  background-color: rgb(15, 21, 31);
  --webkit-backdrop-filter: blur(20px);
  border: 1px solid #1e2736;
  color: white;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  height: 100%;
  width: 100%;
  margin: auto;
  position: relative;
  background-color: rgb(15, 21, 31);
  --webkit-backdrop-filter: blur(20px);
  color: white;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.home__page__second__section .grid__items .grid__item:hover {
  transition: all 150ms ease;
  border: 1px solid #4EC1CE;
}
.home__page__second__section .grid__items .grid__item:hover p {
  color: white;
}
.home__page__second__section .grid__items .grid__item:hover .svg path {
  fill: white;
}
.home__page__second__section .grid__items .grid__item .svg {
  width: 100%;
  height: auto;
  max-width: 44px;
  margin-right: 10px;
}
.home__page__second__section .grid__items .grid__item .svg path {
  fill: #4EC1CE;
}
.home__page__second__section .grid__items .grid__item span {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: all 150ms ease-in-out;
  font-weight: 400;
  font-size: 14px;
  color: rgb(139, 148, 158);
}
.home__page__second__section .grid__items .grid__item span .cat__name {
  color: white;
  font-weight: 500;
}
.home__page__second__section .grid__items .grid__item span .cat__desc {
  font-size: 13px;
  line-height: 18px;
  overflow: hidden;
}

@media only screen and (max-width: 780px) {
  .home__page__second__section {
    padding: 60px 30px 30px 30px;
  }
  .home__page__second__section .grid__items {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    transition: all 800s ease-in-out;
  }
  .home__page__second__section .grid__items .grid__item {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 18px;
    border-radius: 2px;
  }
  .home__page__second__section .grid__items .grid__item .svg {
    margin: 0px;
  }
  .home__page__second__section .grid__items .grid__item span .cat__desc {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */