@import '../../stylesheets//_vars';

.navbar__outer {
    width: 100%;
    min-height: 54px;
    position: absolute;
    top: 0;
    left: 0;
    

    z-index: 50000;

    // desktop-menu
    menu {

        width: 100%;
        height: 100%;
        padding: 30px 50px 30px 50px;


        #logo {
            height: auto;
            width: 100%;
            max-width: 7.25rem;
            align-self: center;
        }

        nav {
            align-items: center;
            height: 100%;

            ul {
                li {
                    margin-left: 58px;
                    font-weight: $font-400;
                    color: white;
                    transition: all 150ms ease-in-out;
                    font-size: 0.9rem;
                }

                li:hover {
                    color: rgba(255, 255, 255, 0.87);
                }

                .active {
                    position: relative;
                    font-weight: $font-600;
                }

                .active::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -4px;
                    width: 100%;
                    height: 1px;
                    background-color: white;
                }

            }


            button {
                margin: 0;
                padding: 0;
                margin-left: 45px;
                border: none;
                background-color: #62F4FD;
                color: black;

                font-weight: $font-500;
                font-size: 1rem;
                padding: 10px 24px;

                border-radius: 4px;
                box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
                transition: all 200ms ease-in-out;

                .call__svg {
                    margin-right: 10px;
                    height: auto;
                    width: 100%;
                    max-width: 15px;
                }
            }


            button:hover {
                box-shadow: none;
                background-color: #62f5fdcc;
            }

            .clone__menu {
                width: 1.15rem;
                height: auto;
                display: none;
            }
        }

    }



    // mobile-menu
    .mobile__menu {
        padding: 20px;
        position: fixed;
        width: 100%;
        height: 100%;
        right: 0;
        display: none;
        max-width: 240px;
        top: 0;
        background-color: rgb(224, 224, 224);
        color: white;
        box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;


        &.open {
            animation: myAnim 200ms ease-in-out 0s 1 normal forwards;
            display: flex;

            @keyframes myAnim {
                from {
                    right: -500px;
                }

                to {
                    right: 0px;

                }
            }

        }



        // menu-design
        .closemenu__svg {
            align-self: flex-end;
            margin-bottom: 50px;
            position: relative;
            padding: 6px;
            background-color: white;
            border-radius: 2px;
            transition: all 150ms ease-in-out;

            &:hover {
                background-color: rgba(255, 255, 255, 0.507);
            }
        }



        ul {
            padding-left: 40px;

            a {
                pointer-events: none;
            }

            li {
                margin-bottom: 54px;
                font-weight: $font-400;
                color: $clr-black-dark;
                transition: all 150ms ease-in-out;
                font-size: 1rem;

                &.active {
                    position: relative;
                    font-weight: $font-600;
                }


                &.active::before {
                    content: "";
                    position: absolute;
                    right: -16px;
                    bottom: -6px;
                    width: 110%;
                    height: 1px;
                    background-color: rgba(0, 0, 0, 0.253);
                }
            }
        }


        a {
            .btn__primery {

                margin: 0;
                padding: 0;
                border: none;
                background-color: #62F4FD;
                color: black;
                width: 100%;

                font-weight: $font-500;
                font-size: 1rem;
                padding: 10px 24px;

                border-radius: 4px;
                box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
                transition: all 200ms ease-in-out;

                .call__svg {
                    margin-right: 10px;
                    height: auto;
                    width: 100%;
                    max-width: 15px;
                }

                &:hover {
                    box-shadow: none;
                    background-color: $clr-blue-dark-hover;
                }
            }


        }




    }


}






// media-query-only-for-navbar
@media only screen and (max-width:780px) {
    .navbar__outer menu{
        padding: 30px 24px 30px 24px;
    }
    .navbar__outer menu #logo {
        max-width: 6.25rem;
    }

    .navbar__outer menu nav ul {
        display: none;
    }

    .navbar__outer menu nav button {
        display: none;
    }


    .navbar__outer menu nav .clone__menu {
        display: flex;
    }
}