@import "../../stylesheets/_vars";

.footer__outer {
    color: white;
    width: 100%;
    height: auto;
    padding: 50px 70px;

    background: linear-gradient(to bottom, rgb(6, 4, 34), rgb(7, 7, 14)) !important;


    .inner {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row-reverse;

        .section {
            width: 100%;
            height: 100%;

            &.section__top {
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                p {
                    margin-bottom: 12px;
                    font-weight: $font-600;
                    font-size: clamp(18px, 4vw, 22px);
                }

                .copyright {
                    margin-top: 16px;
                    font-size: 12px;
                    font-weight: 200;
                }



                .contectus__outer {
                    align-items: center;
                    width: clamp(250px, 4vw, 100%);
                    padding: 10px 10px;
                    border-radius: 4px;
                    background-color: white;



                    .MuiCircularProgress-root {
                        width: 20px;
                        height: 20px;
                    }



                    &.on_sending {
                        width: auto;
                        border-radius: 50%;

                        input {
                            display: none;
                        }


                    }

                    .svg {
                        flex: 1 1 20%;
                        width: 100%;
                        height: auto;
                        max-width: 22px;
                        cursor: pointer;

                    }



                    input {
                        flex: 1 1 80%;
                        width: 100%;
                        outline: none;
                        border: none;
                        padding: 4px 12px;
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            &.section__bottom {


                .footer__logo {
                    width: 100%;
                    height: auto;
                    max-width: 124px;
                    margin-bottom: 6px;
                }

                .footer_head {
                    color: #a29f9f;
                }

                .footer__contact__info {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    margin-top: 20px;

                    div {
                        display: flex;
                        gap: 14px;

                        p {
                            font-size: 14px;
                            font-weight: 200;
                            color: #b6b4b4;
                        }

                        .sm__svg {
                            width: 100%;
                            height: auto;
                            max-width: 18px;
                        }
                    }
                }
            }
        }

    }
}



// media-query-only-for-navbar
@media only screen and (max-width:780px) {

    .footer__outer {
        padding: 50px 24px;

        .inner {
            flex-direction: column;
            gap: 40px;

            .section {


                &.section__top {
                    align-items: flex-start;
                   


                    .contectus__outer {
                        align-items: center;
                        width: clamp(250px, 4vw, 100%);
                        padding: 10px 10px;
                        border-radius: 4px;
                        background-color: white;
                        width: 75%;



                        .MuiCircularProgress-root {
                            width: 20px;
                            height: 20px;
                        }



                        &.on_sending {
                            width: auto;
                            border-radius: 50%;

                            input {
                                display: none;
                            }


                        }

                        .svg {
                            max-width: 24px;
                        }



                        input {
                            flex: 1 1 80%;
                            width: 100%;
                            outline: none;
                            border: none;
                            padding: 7px 12px;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                &.section__bottom {


                    .footer__logo {
                        width: 100%;
                        height: auto;
                        max-width: 124px;
                        margin-bottom: 6px;
                    }

                    .footer_head {
                        font-size: 13.4px;
                        color: #a29f9f;
                    }

                    .footer__contact__info {
                        display: flex;
                        flex-direction: column;
                        gap: 15px;
                        margin-top: 20px;

                        div {
                            display: flex;
                            gap: 14px;
                            align-items: center;

                            p {
                                font-size: 13.4px;
                                font-size: 14px;
                                font-weight: 200;
                                color: #b6b4b4;
                            }

                            .sm__svg {
                                width: 100%;
                                height: auto;
                                max-width: 14px;
                            }
                        }
                    }
                }

            }
        }
    }
}