@import "../../../stylesheets/_vars";

.alignment__outer {
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 100px 40px 40px 40px;

    .alignment__inner {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 14px;


        .area {
            width: 100%;
            height: 100%;
            border-radius: 4px;
            color: #D9D9D9;
        }

        .stepsbar__outer {
            background-color: #e6e2e2;
            min-height: 80px;
            max-height: 80px;
            padding: 10px 20px;
            justify-content: center;


            #muistepbtn {
                .MuiStepLabel-root {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .MuiStepLabel-iconContainer {
                        padding: 0px;
                    }
                }
            }
        }

        .editor__window__outer {
            width: 100%;
            padding: 0px;
            min-height: 600px;
            height: auto;
        }

        .required__info__outer {
            background-color: #e6e2e2;
            min-height: 200px;
        }
    }
}


@media only screen and (max-width:768px) {
    .alignment__outer {
        padding: 90px 16px 40px 16px;

        .alignment__inner {
            .stepsbar__outer {
                padding: 10px 10px;

            }

            .editor__window__outer {
                min-height: 650px;
            }
        }
    }
}