.flex {
  display: flex;
}

.fd-col {
  flex-direction: column;
}

.fd-row {
  flex-direction: row;
}

.flex-aic {
  align-items: center;
}

.flex-jcc {
  justify-content: center;
}

.df-aic-jcc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-jcsb {
  justify-content: space-between;
}

.flex-jcsa {
  justify-content: space-around;
}

.cp {
  cursor: pointer;
}

/* ---colours */
/* ---font-weight */
/* ---gradients */
.TextEditor__ground {
  width: 100%;
  height: 100%;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.TextEditor__ground .main__upper__containor {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 18px;
  grid-template-columns: 0.25fr 0.75fr;
  grid-template-rows: 0.6fr 0.1fr 0.2fr 0.1fr;
  grid-template-areas: "SIDEPANEL EDITnPREVIEWBOX" "SIDEPANEL  CONTROLLSBOX" "SIDEPANEL HEADINGOUTER" "SIDEPANEL PROCEEDBOX";
}
.TextEditor__ground .main__upper__containor .edit_n_preview__outer {
  grid-area: EDITnPREVIEWBOX;
  display: flex;
  gap: 10px;
}
.TextEditor__ground .main__upper__containor .edit_n_preview__outer .textad__area {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  overflow: hidden;
  background: #ffffff;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}
.TextEditor__ground .main__upper__containor .edit_n_preview__outer .textad__area #textarea {
  width: 100%;
  resize: none;
  outline: none;
  border: none;
  color: rgb(0, 0, 0);
  padding: 10px;
  font-size: 16px;
}
.TextEditor__ground .main__upper__containor .edit_n_preview__outer.toggle__preview .textad__area {
  display: none;
}
.TextEditor__ground .main__upper__containor .edit_n_preview__outer.toggle__preview .preview__box {
  display: flex;
}
.TextEditor__ground .main__upper__containor .edit_n_preview__outer .textad__area {
  width: 100%;
  height: 100%;
  flex: 1 1 60%;
  border-radius: 4px;
}
.TextEditor__ground .main__upper__containor .edit_n_preview__outer .preview__box {
  width: 100%;
  height: 100%;
  flex: 1 1 40%;
  border-radius: 4px;
  overflow: hidden;
  padding: 10px;
  background: rgb(243, 243, 243);
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  display: flex;
  gap: 6px;
  flex-direction: column;
}
.TextEditor__ground .main__upper__containor .edit_n_preview__outer .preview__box .preview__heading {
  border-radius: 4px;
  background-color: rgb(15, 21, 31);
  --webkit-backdrop-filter: blur(20px);
  font-size: clamp(14px, 4vw, 16px);
  padding: 10px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}
.TextEditor__ground .main__upper__containor .edit_n_preview__outer .preview__box .preview__box__inner__outer {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-color: white;
  padding: 10px;
  position: relative;
}
.TextEditor__ground .main__upper__containor .edit_n_preview__outer .preview__box .preview__box__inner__outer .screen__heilight {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: black;
}
.TextEditor__ground .main__upper__containor .edit_n_preview__outer .preview__box .preview__box__inner__outer .screen__heilight.active__heilight {
  display: flex;
}
.TextEditor__ground .main__upper__containor .edit_n_preview__outer .preview__box .preview__box__inner__outer.screen__border {
  border: 2px solid black;
}
.TextEditor__ground .main__upper__containor .edit_n_preview__outer .preview__box .preview__box__inner__outer .preview__Text {
  text-justify: newspaper;
  line-break: anywhere;
  color: black;
}
.TextEditor__ground .main__upper__containor .sidepanel {
  max-height: 300px;
  height: -moz-fit-content;
  height: fit-content;
  grid-area: SIDEPANEL;
  border-radius: 4px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 14px 20px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  display: flex;
  flex-direction: column;
}
.TextEditor__ground .main__upper__containor .sidepanel .bg__colors__outer {
  margin-bottom: 20px;
}
.TextEditor__ground .main__upper__containor .sidepanel .bg__colors__outer .colors__palet {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 10px;
  grid-template-columns: 0.5fr 0.5fr;
  grid-template-rows: 0.5fr 0.5fr;
}
.TextEditor__ground .main__upper__containor .sidepanel .bg__colors__outer .colors__palet .bgcls__jscket {
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  padding: 14px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.TextEditor__ground .main__upper__containor .sidepanel .bg__colors__outer .colors__palet .bgcls__jscket .radio__Clr {
  left: 0;
  cursor: pointer;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
}
.TextEditor__ground .main__upper__containor .sidepanel .sub__controlls {
  gap: 15px;
  flex-direction: column;
}
.TextEditor__ground .main__upper__containor .sidepanel .sub__controlls .checkboxouter {
  text-align: center;
  position: relative;
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
  text-transform: capitalize;
  border: none;
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-size: clamp(12px, 3vw, 16px);
  padding: 10px 20px;
  transition: all 170ms ease-in-out;
  background: #F6F5F9;
  --webkit-backdrop-filter: blur(20px);
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}
.TextEditor__ground .main__upper__containor .sidepanel .sub__controlls .checkboxouter span {
  font-size: clamp(10px, 3vw, 12px);
  color: rgb(56, 56, 56);
  font-weight: 400;
}
.TextEditor__ground .main__upper__containor .sidepanel .sub__controlls .checkboxouter .checkbox {
  opacity: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
}
.TextEditor__ground .main__upper__containor .controlls__outer {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  grid-area: CONTROLLSBOX;
  border-radius: 4px;
  padding: 5px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.TextEditor__ground .main__upper__containor .controlls__outer .cont_jack {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 8px 10px;
  max-width: 240px;
}
.TextEditor__ground .main__upper__containor .controlls__outer .show__preview__btn__jacket {
  display: none;
}
.TextEditor__ground .main__upper__containor .heading__outer {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  grid-area: HEADINGOUTER;
  background-color: #ffffff;
  border-radius: 4px;
  color: black;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: 1fr;
  gap: 20px;
  padding: 10px 20px;
}
.TextEditor__ground .main__upper__containor .heading__outer .EstimateBTN {
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
  text-transform: uppercase;
  border: none;
  color: rgb(0, 0, 0);
  font-weight: 500;
  color: white;
  font-size: clamp(12px, 4vw, 15px);
  padding: 16px 20px;
  transition: all 170ms ease-in-out;
  background-color: rgb(15, 21, 31);
  --webkit-backdrop-filter: blur(20px);
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}
.TextEditor__ground .main__upper__containor .heading__outer .stat__outer__mobile__stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.TextEditor__ground .main__upper__containor .heading__outer .stat__outer__mobile__stat.lines {
  margin-left: 10px;
}
.TextEditor__ground .main__upper__containor .heading__outer .stat__outer__mobile__stat .int {
  font-size: clamp(24px, 4vw, 28px);
  text-align: center;
  font-weight: 700;
  display: flex;
  align-items: center;
  color: rgb(0, 0, 0);
}
.TextEditor__ground .main__upper__containor .heading__outer .stat__outer__mobile__stat .sep_cover {
  position: relative;
}
.TextEditor__ground .main__upper__containor .heading__outer .stat__outer__mobile__stat .sep_cover .sep {
  height: 1.2px;
  background: #a39f9f;
  width: 100%;
  left: 0;
  top: 0;
}
.TextEditor__ground .main__upper__containor .heading__outer .stat__outer__mobile__stat .sep_cover .stat__outer__mobile__stat__name {
  color: #6d6d6d;
  text-transform: uppercase;
  font-weight: 400;
  font-size: clamp(10px, 3vw, 14px);
}
.TextEditor__ground .main__upper__containor .special__enhancement__box {
  color: black;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  background: #ffffff;
  grid-area: PROCEEDBOX;
  border-radius: 4px;
  height: 100%;
  padding: 20px;
}
.TextEditor__ground .main__upper__containor .special__enhancement__box .heading {
  font-size: 18px;
  margin-bottom: 20px;
}
.TextEditor__ground .main__upper__containor .special__enhancement__box .enhancement {
  display: flex;
  align-items: baseline;
  margin-bottom: 17px;
}
.TextEditor__ground .main__upper__containor .special__enhancement__box .enhancement .enhensmnt__checkbox {
  margin-right: 8px;
  padding: 9px;
}
.TextEditor__ground .main__upper__containor .special__enhancement__box .enhancement p {
  display: flex;
  flex-direction: column;
  font-weight: 600;
}
.TextEditor__ground .main__upper__containor .special__enhancement__box .enhancement p span {
  font-weight: 400;
  color: #7c7c7c;
  font-size: 12px;
}
.TextEditor__ground .main__upper__containor .special__enhancement__box .ehnesment__inpt__boxs {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}
.TextEditor__ground .second__lower__containor {
  overflow: hidden;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  width: 100%;
  height: 100%;
  min-height: 200px;
  background: #ffffff;
  border-radius: 4px;
  padding: 20px 10px;
  color: black;
}
.TextEditor__ground .second__lower__containor .ad__heading__containor {
  background: #F8F8F8;
  margin-bottom: 30px;
  padding: 20px;
}
.TextEditor__ground .second__lower__containor .ad__heading__containor .panel__heading h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: clamp(16px, 4vw, 18px);
}
.TextEditor__ground .second__lower__containor .ad__heading__containor .panel__heading p {
  color: #747474;
  font-size: clamp(10px, 3vw, 14px);
}
.TextEditor__ground .second__lower__containor .ad__heading__containor .heading__window {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 40px;
  margin-top: 20px;
  padding: 20px 40px;
  padding-left: 0px;
}
.TextEditor__ground .second__lower__containor .price__list {
  margin-bottom: 30px;
  position: relative;
}
.TextEditor__ground .second__lower__containor .price__list h2 {
  padding: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: clamp(16px, 4vw, 18px);
  position: relative;
}
.TextEditor__ground .second__lower__containor .price__list h2::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 14px;
  height: 10px;
  background-color: red;
}
.TextEditor__ground .second__lower__containor .price__list .price__slider {
  padding: 10px;
  margin-top: 0px;
  width: 100%;
  height: 100%;
  background: #f3f3f3;
  min-height: 120px;
  transform: translateX(1%);
  display: flex;
  gap: 15px;
  overflow-x: scroll;
}
.TextEditor__ground .second__lower__containor .price__list .price__slider .rate__card {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 4px;
  max-width: 220px;
  min-width: 220px;
  background-color: white;
  padding: 15px 16px;
}
.TextEditor__ground .second__lower__containor .price__list .price__slider .rate__card .newspaper__name {
  font-weight: 600;
  font-size: clamp(12px, 4vw, 16px);
  margin-bottom: 6px;
}
.TextEditor__ground .second__lower__containor .price__list .price__slider .rate__card .package__desc {
  font-weight: 300;
  max-width: 80%;
  font-size: clamp(10px, 4vw, 12px);
  margin-bottom: 16px;
}
.TextEditor__ground .second__lower__containor .price__list .price__slider .rate__card .prices p {
  color: rgb(42, 68, 2);
  font-weight: 600;
  font-size: clamp(10px, 4vw, 12px);
  margin-bottom: 4px;
}
.TextEditor__ground .second__lower__containor .from__newspaper {
  padding: 20px;
}
.TextEditor__ground .second__lower__containor .from__newspaper h2 {
  font-size: clamp(16px, 4vw, 18px);
  font-weight: 600;
  margin-bottom: 6px;
}
.TextEditor__ground .second__lower__containor .from__newspaper .innertext .newspapername {
  text-transform: uppercase;
  color: #605f5f;
  margin-bottom: 8px;
  font-size: clamp(13px, 4vw, 14px);
}
.TextEditor__ground .second__lower__containor .from__newspaper .innertext .innertext__inline {
  width: 100%;
  font-size: 13px;
  max-width: 100%;
  -moz-column-count: 1;
       column-count: 1;
  text-justify: newspaper;
}

@media only screen and (max-width: 768px) {
  .TextEditor__ground .main__upper__containor {
    grid-template-columns: 1fr;
    grid-template-rows: 0.6fr 0.1fr 0.1fr 0.1fr 0.1fr;
    grid-template-areas: "EDITnPREVIEWBOX" "CONTROLLSBOX" "SIDEPANEL" "HEADINGOUTER" "PROCEEDBOX";
  }
  .TextEditor__ground .main__upper__containor .sidepanel {
    padding: 10px;
    flex-direction: row;
    justify-content: space-between;
  }
  .TextEditor__ground .main__upper__containor .sidepanel .bg__colors__outer {
    margin-bottom: 0px;
    margin-right: 10px;
  }
  .TextEditor__ground .main__upper__containor .sidepanel .bg__colors__outer .colors__palet {
    width: 100%;
    height: 100%;
    display: grid;
    gap: 10px;
  }
  .TextEditor__ground .main__upper__containor .sidepanel .bg__colors__outer .colors__palet .bgcls__jscket {
    outline: none;
    padding: 10px 20px;
  }
  .TextEditor__ground .main__upper__containor .sidepanel .bg__colors__outer .colors__palet .bgcls__jscket .radio__Clr {
    outline: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
  }
  .TextEditor__ground .main__upper__containor .sidepanel .sub__controlls {
    flex-grow: 2;
  }
  .TextEditor__ground .main__upper__containor .controlls__outer {
    justify-content: space-between;
  }
  .TextEditor__ground .main__upper__containor .controlls__outer .show__preview__btn__jacket {
    display: flex;
  }
  .TextEditor__ground .main__upper__containor .controlls__outer .cont_jack {
    padding: 8px 4px;
  }
  .TextEditor__ground .main__upper__containor .controlls__outer .cont_jack .btn__controll {
    padding: 16px 15px;
  }
  .TextEditor__ground .main__upper__containor .edit_n_preview__outer .preview__box {
    display: none;
  }
  .TextEditor__ground .main__upper__containor .heading__outer {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }
  .TextEditor__ground .main__upper__containor .special__enhancement__box .ehnesment__inpt__boxs {
    flex-direction: column;
  }
  .TextEditor__ground .second__lower__containor .ad__heading__containor .heading__window {
    margin-top: 5px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
  }
  .TextEditor__ground .second__lower__containor .ad__heading__containor .heading__window #last__select {
    grid-column: 1/-1;
  }
}/*# sourceMappingURL=style.css.map */